<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/.file/site.css" rel="stylesheet" />
  <script src="/.include/jquery/jquery.min.js"></script>
</head>
<body>
  <!-- 頁首區段 -->
  <header></header>

  <!-- 內文區段 -->
  <main>
    {{CONTENT}}
  </main>

  <!-- 頁尾區段 -->
  <footer></footer>

  <!-- 資源加載 -->
  <script src="/.file/site.js"></script>
  <script src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7039045520564660"></script>
</body>
</html>